ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  nav{
      height: 50px;
  }
  .submenu{
    background-color: rgb(66, 66, 66);
  }
  .subactivat{
    background-color: #46509b;
  }
  li{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
  }
  
  li:hover:not(.active) {
    background-color: #2134C5;
  }
  
  .active{
    background-color: #1b2994;
  }

  body{
      padding: 0px;
      margin: 0px;
      background-color: black;
      color: white;
      background-image: url("img/fons_terra.jpg");
      background-attachment: inherit;
      background-position: top;
  }
  .principal{
      border: 3px solid white;
      border-radius: 50px;
      width: 50%;
      text-align: center;
      margin: auto;
      height: 70vh;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
  }
  legend{
      margin-left: -25%;
  }
  .containerboto{
      margin: auto;
      width:100%;
      text-align: center;
      margin-top: 50px;
  }
  a{
    text-decoration: none;
    color: white;
}
.boto{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: bolder;
    font-weight: 400;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bolder;
    padding: 5px;
    transition-duration: 0.5s;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 110px;
    margin-top: 50px;
    margin-top: 20px;
    text-align: center;
}

.boto:hover{
    background-color: rgba(255, 255, 255, 0.616);
    color: black;
    border: 2px solid black;
    transition-duration: 0.5s;
}
button{
    border: 0px;
    background: transparent;
}

.but{
    color: white;
    transition-duration: 0.5s;
    width: 110px;
    border-radius: 10px;
    font-weight: bolder;
    font-weight: 400;
    font-size: 20px;
    height: 20px;
}
.graella{
    width: 18.4px;
    height: 13px;
    border: 0px solid black;
    padding: 0px;
   }
table{
    margin: auto;
    border-spacing: 0px;
    border-collapse: collapse;
}
table{
    margin: auto;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-top: 70px;
}
.sep-top{
    margin: 0px;
    margin-top: 50px;
   
}

input[type="checkbox" i]{
    margin: 0px;
}
td{
    width: 10px;
    height: 10px;
    border: 1px solid rgb(124, 124, 124);
}
tbody{
    margin-right: auto;
    margin-left: auto;
}
.none{
    border: 0px;
    width: 20%;
}
.footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/*TEST*/
